@media screen and (max-width:700px) {
    header .container {
        display: flex;
        flex-direction: column;
    }

    .botao {
        margin-top: 5px;
        width: 250px;
    }

    .filme-principal .titulo {
        font-size: 3rem;
    }

    .filme-principal .descricao {
        font-size: 0.8rem;
    }
}

@media screen and (min-width:1000px) {
    .descricao {
        width: 100%;
    }
}